spring.application.name=ComputerService
spring.datasource.url=jdbc:YOUR_DATABASE_URL
spring.datasource.username=YOUR_DATABASE_USERNAME
spring.datasource.password=YOUR_DATABASE_PASSWORD
spring.datasource.driver-class-name=DATASOURCE-CLASS
jwt.secret-key=YOUR_SECRET_KEY